[user]
	name = hoshsadiq
	email = superaktieboy@gmail.com
[core]
	autocrlf = input
[color]
	diff = auto
	ui = auto
[push]
	default = simple
[branch]
	autosetupmerge = true
[alias]
	unstage = reset HEAD --
	graph = log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=relative
	root = !pwd
