[Desktop Entry]
Type=Application
Terminal=false
Name=ncspot
GenericName=Music Player
Comment=Access all of your favorite music
Icon=com.spotify.Client
# todo this needs a better way of figuring out the location
Exec=alacritty --config-file=/home/hosh/dot_files/config/alacritty/alacritty.ncspot.yml
Categories=Audio;Music;Player;AudioVideo;
Keywords=Music;Player;Streaming;Online;
StartupWMClass=ncspot
X-GNOME-UsesNotifications=true
X-Flatpak-Tags=proprietary;
X-Flatpak=com.spotify.Client
