[Desktop Entry]
Type=Application
Terminal=false
Name=Spotify
GenericName=Music Player
Icon=spotify-client
# todo this needs a better way of figuring out the location
Exec=bash -c /home/hosh/dot_files/bin/run-spotify.sh %U
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
