[Unit]
Description=Gebaar Daemon
Documentation=https://github.com/Coffee2CodeNL/gebaar-libinput
PartOf=graphical-session.target

[Service]
ExecStart=sh -c 'env DISPLAY="$(w -oush $(id -un) | awk \'{print $3; exit}\')" %h/.local/bin/gebaard'
Restart=always
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=gnome-session.target
WantedBy=graphical-session.target
